@import url("https://use.typekit.net/ldo5eco.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 16px;
    }

    .menu_hamburguer{
        margin: 0;
        z-index: 99999;
        position: fixed;
    }
    .menu {
        background: #393939;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        box-shadow: 0 0 0 0 #393939, 0 0 0 0 #393939;
        transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    }

    .menu:hover {
        box-shadow: 0 0 0 8px #393939, 0 0 0 8px #393939;
    }

    .hamburguer {
        position: relative;
        display: block;
        background: #fff;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .hamburguer:before,
    .hamburguer:after {
        background: #fff;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;        
    }

    .hamburguer:after {
        bottom: -10px;
    }

    input {
        display: none;
    }

    input:checked ~ label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked ~ label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    /* animação do menu */
    input:checked ~ label .menu {
        box-shadow: 0 0 0 130vw #393939, 0 0 0 130vh #393939;
    }

    /* // só aparecer o menu ao clicar */
    input:checked ~ .ul_hamburguer {
        opacity: 1;
        visibility: visible;
    }

    /* // animação e estilo do menu */
    .ul_hamburguer {
        position: absolute;
        top: 350px;
        left: 300px;
        width: 300px;
        transform: translate(-50%, -50%);
        list-style: none;
        font-size: 24px;
        opacity: 0;
        transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
        z-index: 5;
        overflow: auto;
        display: block;
        visibility: hidden;
    }

    .ul_hamburguer a {
        color: #a2a2a2;
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
        overflow: auto;
    }

    /* header */

    header {
        background: #393939;
        height: 15vh;
    }
    
    .nav_class {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75em;
        font-weight: 500;
        letter-spacing: 2px;
        height: 15vh;   
    }
    
    .nav_class a {
        color: #a2a2a2;
        text-decoration: none;
    }
    
    .nav_class a:hover {
        color: #cdcdcd;
    } 

/* css da pg */

h1 {
    color: #fdc140;
}

h5 {
    color: #a08c6c;
    font-weight: 700;
}

h3 {
    color: #fff;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    font-family: 'europa', sans-serif;
    font-style: normal;
}


hr {
    border-color: #555555;
}

p {
    color: #c8c8c8;
    font-size: 1.2em;
    font-family: 'effra', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.start {
    background: #3d332e;
    color: #fdc140;
    height: 500px;
    padding: 100px 0;
    text-align: center;
}

.principios {
    position: relative;
    background: #393939;
    margin-top: 0;
}

.bg_video{
	position: relative; 
	right: 0; 
	bottom: 0;
	width: 100%; 
	background: url(img/star.gif) no-repeat;
    background-size: cover; 
}


.mercado, .expertise, .disrupcao, .equipe, .contato {
    background: #393939;
}

.mercado img {
    width: 100%;
    padding: 0 15px;
}

.legenda {
    font-size: 1em;
    padding: 20px;
}

.container-fluid {
    padding: 0;
}

.imagem img {
    width: 100%;
    padding: 0;
}

.img_way img{
    width: 100%;
}

.combustivel {
    background: #3d332e;
    color: #fff;
}

.combustivel div {
    height: 500px;
    padding: 100px 0;
}

.combustivel div h1 {
    color: #fff;
}

.combustivel div p {
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 10px;
}

.equipe {
    padding-bottom: 10px;
}

.contato {
    padding-bottom: 60px;
}

footer {
    
    background: #ab9572;
    bottom:0;
    left:0;
    font-size: 1.5em;
}

.footer p {
    color: #393939;
    font-weight: 700;
    font-family: 'europa', sans-serif;
}

.footer a {
    text-decoration: none;
    color: #393939;
}

.footer a:hover {
    color: #c8c8c8;
}

.back a{
    font-size: 0.60em;
    font-weight: 400;
}

/* Responsividade */

@media (max-width: 992px) {
    .navbar-nav {
        display: none;
    }

    .div_logo {
        margin: 0;
        padding: 15px 0;
    }  
}

@media (min-width: 992px) {
    .div_start {
        padding: 0 180px;
    }
}

@media (max-width: 768px) {
    .contato {
        text-align: center;
    }

    .footer {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .back {
        display: none;
    }

    .footer {
        padding-top: 1.5em;
    }
}

@media (max-width: 575.98px) {

    .container_resp {
        padding: 0 50px;
    }

    .combustivel_resp h1, .combustivel_resp p {
        padding: 0 50px;

    }
}
